.button {
    -fx-background-image: url("../images/back-button.png");
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}

.anchor-pane {
}

.pane {
    -fx-background-image: url("../images/login3.png");
    -fx-background-color: #ffffff;
    -fx-alignment: center;
}

.jfx-text-field {
    -fx-prompt-text-fill: #ffffff;
    -fx-font-family: Roboto;
}

.jfx-password-field {
    -fx-prompt-text-fill: #ffffff;
}

.text-field {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
}